<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hook">

    <application
        android:allowBackup="false"
        android:label="BattleTimeHook">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="5x Speed Duration Fix for 指尖无双" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>
</manifest>
